#menu {
  margin-top: 5%;
}

#menu .card-title {
  margin-top: 30px;
}

#menu .name-underline {
  width: 60px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 2px green;

}

#menu .item-icon {
  /*background-color: #0b2e13;*/
  position: relative;
  margin-top: -35px;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 60px;
}
